# asset directory
**/_TerrainAutoUpgrade/
**/Animations/
**/Animation/
**/Fonts/
**/Models/
**/Prefabs/
**/Materials/
**/Scenes/
**/Animator/

# raw asset
*.txt
*.png
*.jpg
*.tif
*.ttf
*.fbx
*.tga
*.obj
*.ogg
*.psd
*.mp3
*.wav
*.bak

# unity asset
*.asset
*.prefab
*.mat
*.mixer
*.meta
*.unity
*.mask
*.controller
*.cubemap
*.raw
*.physicMaterial

# binary
*.dll
*.exr
*.zip
*.db

# plugin
**/Standard Assets/
**/PostProcessing/
